<section id="search">
    <span class="h1"><a href="#">Search</a></span>
    <form>
        <div class="row">
            <div class="col-xs-8 col-md-4">
                <input type="text" class="search-input" id="search-input" placeholder="search...">
            </div>
            <div class="col-xs-4 col-md-2">
                <button type="reset" class="reset-button" onclick="resetSearch()">reset</button>
            </div>
        </div>
        </form>
        <div id="search-result"></div>
        <p class='no-result'>No results found</p>
</section>