/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

.highlight
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #b1e7e7;
  background: #282c34;

  .comment, .quote
    color: #969896
    font-style: italic

  .doctag, .keyword, .formula
    color: #c678dd;

  .section, .name, .selector-tag, .deletion, .subst
    color: #e06c75;

  .literal
    color: #56b6c2;

  .string, .regexp, .addition, .attribute, .meta-string
    color: #98c379;

  .built_in, .class .title
    color: #e6c07b;

  .attr, .variable, .template-variable, .type, .selector-class, .selector-attr, .selector-pseudo, .number
    color: #d19a66;

  .symbol, .bullet, .link, .meta, .selector-id, .title
    color: #969896

  .emphasis
    font-style: italic;

  .strong
    font-weight: bold;

  .link
    text-decoration: underline;