/*
   Gruvbox Dark style - ported by Michell Stuttgart - github.com/mstuttgart
*/
.highlight
  background: #282828
  color: #ddd

  .code
    .tag, .keyword, .selector-tag, .literal, .strong, .name
      color: #fb4934

    .code
      color: #458588

    .class .title
      color: #83a598

    .attribute, .symbol, .regexp, .link
      color: #458588

    .string, .bullet, .subst, .title, .section, .emphasis, .type, .built_in, .builtin-name, .selector-attr, .selector-pseudo, .addition, .variable, .template-tag, .template-variable
      color: #b8bb26

    .comment, .quote, .deletion, .meta
      color: #a89984

    .keyword, .selector-tag, .literal, .doctag, .title, .section, .type, .selector-id
      font-weight: bold

    .number
      color: #b16286

    .operator
      color: #fe8019

