/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.highlight
  // background-color: #f6f8fa
  // padding: 0.5em
  color: #ddffee;

  .code
    .comment,
    .meta
      color: #969896

    .string,
    .variable,
    .template-variable,
    .strong,
    .emphasis,
    .quote
      color: #df5000

    .keyword,
    .selector-tag,
    .type
      color: #c9c

    .literal,
    .symbol,
    .bullet,
    .attribute
      color: #0086b3

    .section,
    .name
      color: #63a35c

    .tag
      color: #969896

    .title,
    .attr,
    .selector-id,
    .selector-class,
    .selector-attr,
    .selector-pseudo
      color: #69c

    .params
      color: #f99157

    .addition
      color: #55a532
      background-color: #eaffea

    .deletion
      color: #bd2c00
      background-color: #ffecec

    .link
      text-decoration: underline
