// Fonts
$font-family-body = "Fira Code", 'Noto Sans SC', sans-serif, monospace
$font-family-mono = "Fira Code", 'Noto Sans SC', sans-serif, monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 16px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"