@font-face 
  font-family: Vazir
  src: url('../lib/vazir-font/Vazir.eot')
  src: url('../lib/vazir-font/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir.woff') format('woff'),
       url('../lib/vazir-font/Vazir.ttf') format('truetype')
  font-weight: normal

@font-face 
  font-family: Vazir;
  src: url('../lib/vazir-font/Vazir-Bold.eot');
  src: url('../lib/vazir-font/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir-Bold.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir-Bold.woff') format('woff'),
       url('../lib/vazir-font/Vazir-Bold.ttf') format('truetype')
  font-weight: bold

@font-face 
  font-family: Vazir;
  src: url('../lib/vazir-font/Vazir-Light.eot')
  src: url('../lib/vazir-font/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../lib/vazir-font/Vazir-Light.woff2') format('woff2'),
       url('../lib/vazir-font/Vazir-Light.woff') format('woff'),
       url('../lib/vazir-font/Vazir-Light.ttf') format('truetype')
  font-weight: 300

.rtl
  font-family: vazir, sans-serif
  direction: rtl
    
  #nav
    li
      padding-left: 15px
      border-left: 1px dotted $color-accent-1
      border-right: 0px
      margin-right: 0px !important
      border-right: none !important

    li:last-child
      margin-right: 15px !important;
      border-left: 0 !important;
      
  #header
    #logo 
      float: right

  #footer
    li
      padding-left: 15px
      border-left: 1px dotted $color-border
      margin-right: 0px
      border-right: 0px

    li:last-child
      margin-right: 15px !important;
      border-left: 0 !important;
      
    #logo 
      float: right

  article
    .content
      h2:before
        right: -1rem;

@media (min-width: 480px)
  .post-list
    .post-item
      .meta
        text-align: right
