@import "_variables"
@import "_colors/" + $colors
@import "_util"
@import "_mixins"
@import "_extend"

global-reset()

*, *:before, *:after
  box-sizing: border-box

html
  margin: 0
  padding: 0
  height: 100%
  border-top: 2px solid $color-text
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  flex: 1
  margin: 0
  height: 100%
  background-color: $color-background
  color: $color-text
  font-weight: 400
  font-size: $font-size
  font-family: $font-family-body
  line-height: $line-height
  font-display: swap
  text-rendering: geometricPrecision

  h3
    text-decoration: none
    font-size: .95rem

  h4
    text-decoration: none
    font-size: .9rem

  antialias()
  @extend $base-style

.content
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  overflow-wrap: break-word

  // 首页项目样式

  #projects
    margin-bottom: 1.5rem
    height: 100%

  // 首页链接样式

  #links
    ul
      margin: 0
      padding: 0
      list-style-type: none
      letter-spacing: -999px
      line-height: 1rem

      li
        display: inline-block
        margin-bottom: .8rem
        border-right: 1px dotted #2bbc8a
        vertical-align: middle
        letter-spacing: 0

        a
          margin: 0 1rem

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

  // 文章样式

  article.post
    margin-bottom: 2rem

  article.page
    margin-bottom: 3rem

    pre
      code
        margin: 0
        font-size: $font-size
        font-family: $font-family-body
        font-display: swap

      ::-webkit-scrollbar
        width: 0
        height: 0

    ol, ul
      margin: 0

      li
        code
          margin: 0
          padding: .1rem .4rem
          border-style: none
          border-radius: 4px
          font-weight: 500
          font-family: $font-family-mono
          -webkit-border-radius: 4px

  // 底部样式

  #footer
    .footer-custom
      margin-top: 5px
      width: 100%
      height: 40px
      text-align: center

    .img-response
      width: 64px
      height: 32px
      vertical-align: middle
      line-height: 40px

  p
    hyphens(auto)

  code
    hyphens(manual)

  a
    color: #0366d6
    text-decoration: none

  a:hover
    text-decoration: underline
    text-decoration-color: #0366d6

  a.icon
    background: none
    color: $color-text

    &:hover
      color: $color-link

  h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    background: none
    color: inherit
    text-decoration: none

  h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
    underline(6px, $color-link)

  h6
    a
      background: none
      color: inherit
      text-decoration: none

  h6
    a:hover
      underline(6px, $color-link)

@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem

    .image-block
      flex: 1 0 35%
      margin-right: 2rem

    p
      flex: 1 0 65%

.max-width
  max-width: $page-width

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  .px3
    padding-right: 1rem
    padding-left: 1rem

  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@media (min-width: 480px)
  p
    text-align: justify

@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"
@import "_partial/tags"
@import "_partial/tooltip"
@import "_partial/categories"
@import "_highlight/" + $highlight

pre
  overflow-x: auto
  font-size: 16px
  line-height: 26px
  padding: .2em .4em
  border: $color-border
  background-color: rgba(27, 31, 35, .05)
  -webkit-border-radius: 4px

  ::-webkit-scrollbar
    display: none


  code
    overflow-x: auto
    padding-left: 1em
    border-radius: 4px
    font-weight: 500
    font-family: $font-family-mono !important
    display: block
    border: none
    
code
  padding: 0 5px
  border: 1px dotted $color-border
  border-radius: 2px
  -webkit-border-radius: 2px

p
  code
    margin: 0
    padding: .1rem .4rem
    border-style: none
    border-radius: 4px
    background-color: rgba(200, 200, 200, .3)
    font-weight: 500
    font-family: $font-family-mono
    -webkit-border-radius: 4px

table tr:nth-child(2n)
  background: #f6f8fa

td
  code
    margin: 0
    padding: .2em .4em
    border-radius: 4px
    background-color: rgba(27, 31, 35, .05)
    font-weight: 500
    font-family: $font-family-mono
    -webkit-border-radius: 4px

table
  font-weight: 400
  font-size: 16px !important
  font-family: $font-family-mono

  tr
    td:not(.gutter):not(.code), th:not(.gutter):not(.code)
      border: 1px solid #dfe2e5

    .gutter
      float: left
      width: 3em
      background: #505050
      color: #ddffee
      text-align: right

    .code
      pre
        .line
          .meta + .bash
            color: #969896

.highlight
  overflow-x: auto
  margin: 1rem 0
  border-radius: 4px
  background: #3c3c3c
  font-weight: 500
  font-family: $font-family-mono
  -webkit-border-radius: 4px

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    zoom: 1

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

&
:
before
,
content
:
""
display
:
table

&:after
  clear: both

&:hover
  .btn-copy
    opacity: 1

.btn-copy
  position: absolute
  right: 20px
  font-size: 1.2rem
  opacity: 0
  transition: opacity .2s ease-in

  &:hover
    color: $color-accent-1

pre
  margin: 0 5px 10px 0
  padding: 0
  border: none
  background: none

table
  width: auto
  font-weight: 500

td.gutter
  text-align: right

.line
  height: 22px
