<% if(page.comments){ %>
    <div class="blog-post-comments">
        <% if(theme.plugins.disqus_shortname){ %>
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
        <% } %>
        <% if(theme.plugins.valine.enable){ %>
        <div class="vcomment"></div>
        <% } %>
    </div>
<% } %>

