<section id="search">
  <form>
    <input type="text" class="search-input" id="search-input" placeholder="search...">
  </form>
  <div id="search-result"></div>
  <p class="search-no-result">No results found</p>
</section>
