#categories
  .category-list
    .category-list-item
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"

  @media (min-width: 480px)
    .category-list
      .category-list-item
        .category-list-count:before
          content: " ("
        .category-list-count:after
          content: ")"
