.blog-post-comments
  margin-top: 2rem
  margin-bottom: 2rem

#valine_container
  .vwrap
    .vheader .vinput, .vedit #veditor
      font-weight: 500
      font-family: "Fira Code", 'Noto Sans SC', sans-serif, monospace