#footer
  position: absolute
  bottom: 0
  margin-bottom: 10px
  width: 100%
  color: $color-meta
  vertical-align: top
  text-align: center
  font-size: 14px
  font-weight: 500

  ul
    margin: 0
    padding: 0
    list-style: none

  li
    display: inline-block
    margin-right: 15px
    border-right: 1px solid $color-border
    vertical-align: middle

    a
      margin-right: 15px

  li:last-child
    margin-right: 0
    border-right: 0

    a
      margin-right: 0

  a
    color: $color-meta
    text-decoration: underline
    background-image: none

  a:hover
    color: lighten($color-meta, 20%)

  .footer-left
    vertical-align: middle

@media (min-width: 300px)
  #footer
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: center
    margin: auto
    a
      text-decoration: none
    a:hover
      text-decoration: underline

    .footer-top
      align-self: flex-start
      flex-basis: auto
      flex-grow: 1
      flex-shrink: 1
      margin-right: 20px
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

    .footer-bottom
      margin: .3rem 0 1rem 0
      width: 100%
      height: 40px
      text-align: center
      .site-uv
        margin-right: .2rem
      .site-uv::after
        content: "|"
        padding-left: .2rem

    .img-response
      width: 64px
      height: 32px
      vertical-align: middle
      line-height: 40px
