.fa
  font-family: vazir, sans-serif
  direction: rtl
    
  #header
    li
      padding-left: 15px
      border-left: 1px dotted $color-accent-1
      margin-right: 0px
      border-right: 0px

    #logo 
      float: right

  #footer
    li
      padding-left: 15px
      border-left: 1px dotted $color-border
      margin-right: 0px
      border-right: 0px

    #logo 
      float: right


@media (min-width: 480px)
  .post-list
    .post-item
      .meta
        text-align: right